body{
 font-family: Arial,sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #2b3b52;
}
.logo{
    color: white;
    font-size: 22px;
    line-height: 60px;
    margin-left: 387px;
    float: left;
}
.menu{
    float: left;
    padding-left: 429px;
    
}
.menu Li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 39px;
    font-size: 14px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fon.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 432px 0px 0px 800px;
    text-align: center;
}
.title_container h1{
    font-size: 60px;
    font-weight: bold;
    color: #2b3b52;
}
.title_container h4{
    margin-top: 39px;
    font-size: 22px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 57px 14px 0px 14px;
}
.information{
    float: left;
}
.information h2{
    float: left;
    margin: 19px 0px 0px 895px;
    font-size: 23px;
    color: #2b3b52;
    font-weight: 600; 
    margin-bottom: 10px;
}
