body{
 font-family: Arial,sans-serif;
}


nav{
    width: 100%;
    height: 60px;
    background: #2b3b52;
}


.logo{
    color: white;
    font-size: 22px;
    line-height: 60px;
    margin-left: 387px;
    float: left;
}


.menu{
    float: left;
    padding-left: 429px;
    
}


.menu Li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 39px;
    font-size: 14px;
    text-transform: uppercase;
}


.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fon.jpg) center/cover no-repeat;
}


.title_container{
    float: left;
    margin: 332px 0px 0px 700px;
    text-align: center;
}


.title_container h1{
    font-size: 60px;
    font-weight: bold;
    color: #2b3b52;
}


.title_container h4{
    margin-top: 39px;
    font-size: 22px;
    color: #79818d;
}


.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 57px 14px 0px 14px;
}


.information h2{
    margin: 75px 0px 0px 876px;
    font-size: 23px;
    color: #2b3b52;
    font-weight: 600; 
}


.chertochka_1{
    margin: 26px 0px 0px 896px;
    display:block
}


.boy{
   
    display: block;
    border:1px solid white;
    border-radius: 50%;
    width: 199px;
    height: 253px;
    overflow: hidden;
    margin: 30px 0px 0px 828px;
}


.information p{
    
    line-height: 12px;
    color: #3f495a;
    margin: 25px 0px 0px 456px;
}


.skachat{
    background: none;
    border: 2px solid  #6d7682;
    border-radius: 5px;
    width: 156px;
    height: 30px;
    padding: 6px 13px ;
    margin: 40px 0px 0px 864px;
    color: #6d7682;
}


.my_skills_container{
    width: 100%;
    height: 400px;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg) center/cover no-repeat;
    margin: 57px 0px 0px 0px;
}


.my_skills_container h2{
    padding:  90px 0px 0px 851px;
    font-size: 25px;
    color: #2b3b52;
    font-weight: 600;
}


.cherto4ka1{
    padding: 26px 0px 0px 896px;
    display:block
}


.my_skills_container li{
    float: left;
    border: 0px solid black;
    width: 210px;
    height: 157px;
    margin: 25px 0px 0px 200px;
    text-align: center;
}


.ikonki1{
    display: block;
    margin-left: 278px;
    margin-top: 70px;
}


.znaki{
    margin-left: 355px;
}


.rocket{
    margin-left: 355px;
}


.zvuk{
    margin-left: 355px;
}


.my_skills_container h5{
    color: #d17700;
    margin-bottom: 20px;
    font-weight: 700;
}


.my_skills_container p{
   color: #2b3b52;
    font-weight: 400;
}

.cases_container h2{
    margin: 100px 0px 0px 883px;
    font-size: 25px;
    color: #2b3b52;
    font-weight: 600;
}


.cherto4ka2{
    margin: 26px 0px 0px 896px;
    display:block
}


.odin1{
    margin: 30px 0px 0px 617px;
    color: #2b3b52;
}


.case{
    display: block;
    margin: 40px 0px 0px 365px;
}


.firsth{
    margin: 38px 0px 0px 365px;
    color: #384354;
    font-size: 18px;
    font-weight: 600;
}


.odin{
    margin: 15px 0px 0px 365px;
    color: #81868f;
}


.odin{
   margin: 15px 0px 0px 365px;
   color: #81868f; 
}

.oned{
    height: 160px;
    margin-left: 80px;
    margin-top: 38px;
}


.twod{
    float: left;
    height: 160px;
}


.livessulka{
    display: block;
    margin: 15px 0px 0px 365px;
    border: 5px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    padding: 8px 0px;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


.cost_container h2{
    margin: 200px 0px 0px 843px;
    font-weight: bold;
    font-size: 25px;
    color: #1c2534;
    
}

.list{
    margin: 35px 0px 0px 490px;
}


.cost_container h3{
    color: #1c2534;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
}

.firstp{
    text-decoration: overline ;
    text-decoration-color: #d1d1d1;
    text-decoration-style:solid;
}

.firstp{
    margin-top: 60px;
    color: #1c2534;
    
}
.secondp{
    margin-top: 15px;
    color: #1c2534;
}

.statistik{
    width: 100%;
    height: 400px;
    background: url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
    margin: 57px 0px 0px 0px;
}

.statistik h2{
    padding:  70px 0px 0px 795px;
    font-size: 25px;
    color: #2b3b52;
    font-weight: 600;
}

.cherto4ka1{
    padding: 26px 0px 0px 896px;
    display:block;
}

.statistik li{
    float: left;
    border: 0px solid black;
    width: 210px;
    height: 157px;
    margin: 25px 0px 0px 200px;
    text-align: center;
}


.ikonki2{
    display: block;
    
    margin-top: 70px;
}


.smail{
    margin-left: 280px;
}


.znaki2{
    margin-left: 345px;
}


.galochka{
     margin-left: 352px;
}


.kubok{
    margin-left: 342px;
}


.statistik h5{
    color: #323e4f;
    margin-bottom: 20px;
    font-weight: 700;
}


.statistik p{
   color: #323e4f;
    font-weight: 400;
}


.otzuvu h2{
    color: #243042;
    margin: 90px 0px 0px 883px;
    font-size: 25px;
    font-weight: 600;
}


.cherto4ka3{
    padding: 26px 0px 0px 905px;
    display:block;
}


.comm{
    margin: 40px 0px 0px 760px;
}


.contacts{
    background: url(../img/%D0%A4%D0%BE%D0%BDdva.jpg) center/cover no-repeat;
    width: 100%;
    height: 800px;
    margin: 57px 0px 0px 0px;
}


.contacts h2{
    padding:  90px 0px 0px 845px;
    font-size: 25px;
    color: white;
    font-weight: 600;
}


.cherto4ka3{
    padding: 26px 0px 0px 905px;
    display:block;
}


.contacts h5{
    margin: 26px 0px 0px 823px;
    color: white;
}


.geo{
    float: left;
    text-align: center;
    color: white;
    padding: 35px 0px 0px 655px;
}


.one{
    margin-bottom: 15px;
}


.po4ta{
    float: left;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-left: 40px;
}


.two{
    margin-bottom: 15px;
}


.telefon{
    float: left;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-left: 40px;
}


.three{
    margin-bottom: 15px;
}


.ikonki3{
    height: 140px;
}


.contacts h3{
    color: white;
    padding: 0px 0px 0px 820px;
    font-weight: 600;
    font-size: 17px;
}


.map{
    background: url(../img/karta.png) center/cover no-repeat;
    width: 100%;
    height: 350px;
}


.nadpis{
    height: 60px;
    width: 100%;
    background: #354051;
    text-align: center;
    color: white;
    padding-top: 25px;
}



.blocki_dlya_texta{
    margin-left: 580px;
    margin-top: 25px;
}

.text1{
    
    padding-right: 178px;
    padding-bottom: 20px;
}


.text2{
    margin-left: 25px;
    padding-right: 178px;
    padding-bottom: 20px;
}


.text3{
    display: block;
    margin-left: 580px;
    margin-top: 10px;
    padding-bottom: 50px;
    padding-right: 498px;
}


.text4{
    display: block;
    margin-left: 895px;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    text-align: center;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}